<h3 *ngIf="data.title" mat-dialog-title>{{ data.title }}</h3>

<mat-dialog-content>
  <form [formGroup]="playbookForm" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="1em">
      <mat-form-field fxFlex="60">
        <mat-label for="name">Name</mat-label>
        <input matInput id="name" type="text" formControlName="name" required>
      </mat-form-field>

      <mat-form-field fxFlex="40">
        <mat-label for="hosts">Host groups</mat-label>
        <mat-select id="hosts" formControlName="hosts" (selectionChange)="selectHost($event)" matTooltip="Select IPv4 directions">
          <mat-option *ngFor="let item of availableHosts" [value]="item">{{ item.name + ' (' + item.ips.length + ')' }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <mat-divider></mat-divider>

  <h4>Selected host groups: {{selectedHosts.length}}</h4>
  <mat-list>
    <mat-list-item *ngFor="let item of selectedHosts">
      <span>{{ item.name + ' (' + item.ips.length + ')' }}</span>
      <div fxFlex="1 1 auto"></div>
      <button mat-icon-button color="warn" (click)="removeHost(item)" matTooltip="Remove this host group"><fa-icon icon="trash"></fa-icon></button>
    </mat-list-item>
  </mat-list>

</mat-dialog-content>

<mat-dialog-actions fxFlexAlign="space-between center">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <div fxFlex="1 1 auto"></div>
  <button mat-raised-button color="accent" [disabled]="playbookForm.invalid || !selectedHosts.length" [mat-dialog-close]="playbookForm.value">{{ data.buttonLabel || 'Submit' }}</button>
</mat-dialog-actions>
