.mat-toolbar {
  position: relative;
  height: 2em;
  padding: 0.5em;
}

button {
  font-weight: bold;
}

.logo {
  font-family: Mukta, sans-serif;
  font-size: 20px;
}

.logoIcon {
  margin-left: 0.5em;
}

fa-icon {
  margin-right: 0.5em;
}
