<mat-card>
  <mat-card-title>
    <h2>Machines</h2>
  </mat-card-title>
  <mat-card-content>
    <div class="addButton" fxLayoutGap="1em">
      <div fxFlex="1 1 auto"></div>
      <button
        fxLayout="column"
        fxLayoutAlign="center"
        mat-raised-button
        color="accent"
        (click)="openDialog()">
        <fa-icon icon="plus"></fa-icon>
        <span>Add</span>
      </button>
      <button
        fxLayout="column"
        fxLayoutAlign="center"
        mat-raised-button
        color="accent"
        (click)="fetchData()">
        <fa-icon icon="sync"></fa-icon>
      </button>
    </div>

    <app-ipmtable
      *ngIf="data"
      [displayedColumns]="displayedColumns"
      [deselectedColumns]="deselectedColumns"
      [actions]="['E', 'R']"
      (editCallback)="openDialog($event)"
      (removeCallback)="removeMachine($event)"
      [data]="data"
    >
    </app-ipmtable>
  </mat-card-content>
</mat-card>
