<div fxLayout="column" fxFlexAlign="space-between" fxLayoutGap="2em">
  <div fxLayout="row" fxFlexAlign="space-between" fxLayoutGap="2em">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Deployments</mat-card-title>
        <mat-card-subtitle>Based on Docker containers</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          Sed elementum mollis vehicula. Suspendisse et egestas purus. Praesent efficitur felis sit amet nulla euismod, nec vulputate dui ornare. Sed consectetur felis in quam posuere porttitor id a magna. Nulla laoreet congue nisi, quis aliquet dolor. Nunc lacinia eu tortor vitae facilisis. Vestibulum tempor pellentesque gravida. Vestibulum cursus erat ac lacus egestas iaculis. Quisque porta, augue at lacinia ornare, magna elit interdum justo, sed efficitur diam ipsum eu nulla. Aenean nisi erat, suscipit ac elit in, suscipit accumsan tellus. Fusce pretium porttitor augue vitae rhoncus. Vestibulum venenatis justo ut orci suscipit, vitae tincidunt eros blandit. Nunc accumsan ligula id purus semper, ac iaculis massa luctus. Nullam bibendum fermentum ipsum, ut pharetra justo efficitur ac.
        </p>
        <p>
          Ut a elit vel mi mollis consequat ullamcorper at nunc. Curabitur ac dui sagittis, gravida nulla sed, mollis risus. Vestibulum eleifend risus eget dui luctus, ac feugiat ipsum bibendum. Suspendisse potenti. Donec tempor condimentum erat id condimentum. Vivamus aliquet mollis augue eget consectetur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum placerat ut risus eu semper. Nunc sed nulla sed nulla vulputate rhoncus. Maecenas non quam lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sodales laoreet sapien, in eleifend dui suscipit eget. Pellentesque sollicitudin ante eu purus vulputate, in efficitur ante convallis. Quisque sit amet lacus ut nulla scelerisque bibendum at et est. Duis pharetra eu eros in pretium. Suspendisse at mattis quam.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Deployments</mat-card-title>
        <mat-card-subtitle>Based on Docker containers</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consectetur odio sed nibh hendrerit viverra. Nam ac pulvinar justo, tristique lacinia leo. Cras ultricies sit amet justo eget tristique. Cras sodales iaculis tortor, vestibulum facilisis eros malesuada in. Aenean tellus nunc, euismod at felis ac, pulvinar accumsan elit. Mauris accumsan leo a tellus viverra pellentesque. Integer id tellus pulvinar, iaculis ligula at, eleifend tellus. Phasellus vel libero sed justo malesuada venenatis. Etiam scelerisque venenatis nulla, vel lobortis massa mollis non.
        </p>
        <p>
          Sed imperdiet, justo sit amet sollicitudin tristique, felis elit hendrerit ligula, ac volutpat nibh mi quis sapien. In magna magna, venenatis vel mattis at, interdum ut tellus. Sed at urna congue, elementum nulla at, ultrices ante. Proin nisi dui, egestas vel pretium quis, sollicitudin nec sem. Quisque fringilla augue eu erat egestas, pharetra venenatis elit sollicitudin. Proin commodo volutpat massa et tempus. In sagittis, velit eget iaculis feugiat, sem dolor vestibulum arcu, et condimentum elit nisl ut arcu. Donec eget turpis vel leo placerat dignissim a vel tortor.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
