<mat-grid-list cols="4" gutterSize="20px" rowHeight="15em">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Deployments</mat-card-title>
        <mat-card-subtitle>Based on Docker containers</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          Placeholder text
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
