name: Backend tests

on:
  push:
    paths:
      - 'backend/*'
    pull_request:
      branches:
        - master
        - develop

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      working-directory: ./backend
      MONGO_HOSTNAME: ${{ secrets.MONGO_HOSTNAME }}

    steps:
    - name: Git checkout
      uses: actions/checkout@v1
    
    - name: Setup Python environment
      uses: actions/setup-python@v1.1.1

    - run: ls -l
    - run: python --version
    - name: Install requirements
      run: pip3 install -r requirements.txt
      working-directory: ${{env.working-directory}}
    
    - name: Python Style Checker
      uses: andymckay/pycodestyle-action@0.1.3

    - name: MongoDB as docker
      uses: wbari/start-mongoDB@v0.2
      with:
        mongoDBVersion: 4.2.3

    - run: docker ps
    - run: docker inspect $(docker ps -q)
    - name: Tests
      run: pytest --disable-warnings --cache-clear -v
      working-directory: ${{env.working-directory}}